<h1>練習</h1>

<input type="text" [(ngModel)]="postCategory.id">
<br>
<input type="text" [(ngModel)]="postCategory.name">
<br>
<button (click)="submitCategory()">送出</button>
<button (click)="edittCategory()">修改</button>
<button (click)="deletetCategory()">刪除</button>
{{postCategory | json}}

<hr>
<br><br>
<ng-container *ngIf="putCategory">
  <input type="text" [(ngModel)]="putCategory.id">
  <br>
  <input type="text" [(ngModel)]="putCategory.name">
  <br>
  <button (click)="submitCategory()">送出</button>
  <button (click)="edittCategory()">修改</button>
  <button (click)="deletetCategory()">刪除</button>
</ng-container>



